

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border: #cccccc;
}

li {
    float: right;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    
}

li a:hover {
    
}

p {
    align-content: center;
    text-align: center;
    width: 960px;
    border-color: black;
    align-items: center;
    background: #777777;
    justify-content: center;
    height: 960px;
}

