.container {
    justify-content: center;
    background: whitesmoke;
}

head {
    width: 960px;
}

body {
    width: 960px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border: 20px #cccccc;
    height: 80px;
}

li {
    float: right;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    margin-top: 27px;
    
}

li a:hover {
    
}

h1 {
    font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;

}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
}

p {
    overflow: auto;
    color: black;
    font: arial;
    align-content: center;
    width: 960px;
    align-items: center;
    justify-content: center;
    height: auto;
    background: #ffffff;
    word-wrap: break-word;
}

.header {
    font: #ffffff;
}

#name {
    display: inline;
    float: left;
    width: 220px;
    height: auto;
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    border-bottom: #cccccc;
    border-bottom-width: 20px;
}

#menu {
    border-bottom: 2px solid #cccccc;
}

img {
    width: 200px;
    height: auto;
    overflow: hidden;
    float: left;
}